In [21]:
import pandas as pd

df = pd.read_csv("data/weather_data.csv")
df

,date,max_Temp,min_Temp,hum,widdir,wind,rain,sun_Time,sun_Qy,condens_Time,soil_Temp
0,2017-01-01 13:00:00,6.100000,-6.300000,66.700000,148.500000,0.500000,0.000000,232.000000,4.200000,755.000000,0.600000
1,2017-01-02 13:00:00,7.800000,-5.900000,66.500000,175.100000,0.600000,0.000000,118.000000,4.000000,697.000000,0.700000
2,2017-01-03 13:00:00,6.500000,-4.100000,41.800000,306.600000,2.500000,0.000000,254.000000,5.900000,637.000000,0.800000
3,2017-01-04 13:00:00,8.100000,-5.400000,60.800000,293.900000,1.400000,0.000000,241.000000,5.400000,479.000000,0.900000
4,2017-01-05 13:00:00,7.700000,-4.800000,65.400000,186.100000,1.600000,0.000000,29.000000,3.000000,464.000000,1.100000
...,...,...,...,...,...,...,...,...,...,...,...
2043,2025-05-06 13:00:00,10.094055,-0.718266,43.593124,215.343842,1.481520,0.517103,193.425293,6.605927,176.151306,7.076061
2044,2025-05-07 13:00:00,10.087847,-0.723161,43.601456,215.370697,1.481611,0.517534,193.391602,6.603287,176.193878,7.070481
2045,2025-05-08 13:00:00,10.082638,-0.726869,43.609138,215.389496,1.481632,0.517987,193.355194,6.600786,176.235077,7.065958
2046,2025-05-09 13:00:00,10.078205,-0.729995,43.616425,215.405670,1.481645,0.518494,193.322266,6.598617,176.283722,7.062086
2047,2025-05-10 13:00:00,10.073751,-0.733410,43.622177,215.423615,1.481705,0.518763,193.296661,6.596681,176.305984,7.058136

In [22]:
# date 열이 2018-09-20 ~ 2019-06-10 일까지의 데이터를 추출하기
df["date"] = pd.to_datetime(df["date"])
df.set_index("date", inplace=True)

# 위 방식으로 데이터 프레임 만들기
df1 = df.loc["2018-09-20":"2019-06-10"].describe().unstack().to_frame().T
df2 = df.loc["2019-09-20":"2020-06-10"].describe().unstack().to_frame().T
df1 = pd.concat([df1, df2])
df3 = df.loc["2020-09-20":"2021-06-10"].describe().unstack().to_frame().T
df1 = pd.concat([df1, df3])
df4 = df.loc["2021-09-20":"2022-06-10"].describe().unstack().to_frame().T
df1 = pd.concat([df1, df4])
df5 = df.loc["2022-09-20":"2023-06-10"].describe().unstack().to_frame().T
df1 = pd.concat([df1, df5])
df6 = df.loc["2023-09-20":"2024-06-10"].describe().unstack().to_frame().T
df1 = pd.concat([df1, df6])

In [23]:
# 인덱스를 2019,2020,2021,2022,2023 부여
df1.index = [2019, 2020, 2021, 2022, 2023, 2024]
df1

     max_Temp                                                      min_Temp  \
        count       mean       std  min   25%    50%     75%   max    count
2019    197.0  13.259898  8.086842 -3.4  6.70  13.40  18.900  31.3    197.0
2020    142.0  13.262676  8.074683 -1.5  6.30  12.85  18.950  33.2    142.0
2021    123.0  13.118699  8.606187 -9.3  7.05  14.80  19.650  29.7    123.0
2022    138.0  13.347826  8.858648 -6.5  6.10  13.00  19.975  30.5    138.0
2023    179.0  13.983799  8.490955 -8.0  7.15  15.50  20.600  31.5    179.0
2024    149.0  13.322033  7.293474 -6.6  7.50  13.90  19.300  27.9    149.0

                ... condens_Time        soil_Temp                            \
          mean  ...          75%    max     count       mean       std  min
2019  0.792893  ...       580.00  778.0     197.0   9.546193  7.028161 -1.5
2020  1.618310  ...       555.50  778.0     142.0  10.337324  7.390646  0.7
2021  0.526016  ...       500.00  735.0     123.0  10.126016  7.597053 -2.5
2022  0.561594  ...       536.75  740.0     138.0  10.551449  8.207485 -0.4
2023  0.834078  ...       545.00  778.0     179.0   9.692179  7.996196 -2.0
2024  1.969217  ...       522.00  778.0     149.0   9.291872  6.264869 -0.1


        25%    50%     75%   max
2019  2.400   9.70  15.300  23.0
2020  4.425   9.05  16.550  26.9
2021  3.800  10.10  16.500  23.2
2022  2.525  11.50  18.175  25.8
2023  1.400  10.10  15.700  24.1
2024  4.400   8.80  13.600  23.8

[6 rows x 80 columns]

In [24]:
df1.to_csv("weather_data_2019_2023.csv", index=False)

In [25]:
df1 = pd.read_csv("weather_data_2019_2023.csv")
df2 = pd.read_csv("data/경상북도_마늘수확농가.csv")
df2
# 시점이 2019~2023년도인 데이터만 경상북도 열을 df1에 옆으로 붙이기
df1["농가 수"] = df2["경상북도"][-6:].reset_index(drop=True)
df1
# count, mean, std, min, 25%, 50%, 75%, max 
# 첫번째 행 제거
df1.drop(0, inplace=True)
df1.to_csv("weather_data_2019_2023.csv", index=False)

In [26]:
df1 = pd.read_csv("weather_data_2019_2023.csv")
df3 = pd.read_csv("data/의성군_마늘생산량.csv")


# 연도가 2019 ~ 2023년에 해당하는 행만 뽑아오기
df3 = df3[df3["연도"] >= 2019]
df3
# 재배면적, 10a당 생산량, 생산량, 의성군재배면적, 의성군생산량을 df1에 열 방향으로 붙이기
df1["재배면적"] = df3["재배면적"].reset_index(drop=True)
df1["10a당 생산량"] = df3["10a당 생산량"].reset_index(drop=True)
df1["생산량"] = df3["생산량"].reset_index(drop=True)
df1["의성군재배면적"] = df3["의성군재배면적"].reset_index(drop=True)
df1["의성군생산량"] = df3["의성군생산량"].reset_index(drop=True)
df1.to_csv("data2.csv", index=False)