In [20]:
import pandas as pd

df = pd.read_csv("data/data2.csv")

In [21]:
df

,max_Temp,max_Temp.1,max_Temp.2,max_Temp.3,max_Temp.4,max_Temp.5,max_Temp.6,max_Temp.7,min_Temp,min_Temp.1,...,soil_Temp.4,soil_Temp.5,soil_Temp.6,soil_Temp.7,농가 수,재배면적,10a당 생산량,생산량,의성군재배면적,의성군생산량
0,197.0,13.259898,8.086842,-3.4,6.70,13.40,18.900,31.3,197.0,0.792893,...,2.400,9.70,15.300,23.0,13198.0,27689.0,1400.0,387671.0,1700.0,19262.0
1,142.0,13.262676,8.074683,-1.5,6.30,12.85,18.950,33.2,142.0,1.618310,...,4.425,9.05,16.550,26.9,10376.0,25372.0,1432.0,363432.0,1444.0,14937.0
2,123.0,13.118699,8.606187,-9.3,7.05,14.80,19.650,29.7,123.0,0.526016,...,3.800,10.10,16.500,23.2,11495.0,21999.0,1402.0,312995.0,1340.0,13568.0
3,138.0,13.347826,8.858648,-6.5,6.10,13.00,19.975,30.5,138.0,0.561594,...,2.525,11.50,18.175,25.8,11228.0,22362.0,1220.0,290824.0,1246.0,12084.0
4,179.0,13.983799,8.490955,-8.0,7.15,15.50,20.600,31.5,179.0,0.834078,...,1.400,10.10,15.700,24.1,10691.0,24700.0,1288.0,312438.0,1215.0,11801.0
5,149.0,13.322033,7.293474,-6.6,7.50,13.90,19.300,27.9,149.0,1.969217,...,4.400,8.80,13.600,23.8,11228.0,27038.0,1356.0,334052.0,1184.0,14404.0

In [22]:
# Polynimoal Feature 만들기
from sklearn.preprocessing import PolynomialFeatures

poly = PolynomialFeatures(degree=2)
poly_features = poly.fit_transform(df[df.columns[:-1]])
poly_features.shape

(6, 3741)

In [23]:
# 랜덤 포레스트로 데이터 훈련
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

# 훈련 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(df[df.columns[:-1]], df["의성군생산량"], test_size=0.16, shuffle=False)

# 모델 생성
model = RandomForestRegressor(n_estimators=100, random_state=42)
print(y_train)
model.fit(X_train, y_train)

# 예측
y_pred = model.predict(X_train)

# 평가
mse = mean_squared_error(y_train, y_pred)
mse

0    19262.0
1    14937.0
2    13568.0
3    12084.0
4    11801.0
Name: 의성군생산량, dtype: float64

1167476.5416800012

In [24]:
#R2 출력
from sklearn.metrics import r2_score
r2 = r2_score(y_train, y_pred)
r2
# 84%

0.8410042199185895

In [25]:
# 예측
y_pred = model.predict(X_test)

y_pred

array([14404.03])